* {
	box-sizing: border-box;
}
body {
	background-color: #232323;
	margin: 0;
	font-family: "montserrat", "avenir";
}


/* ==LAYOUT== */
.container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}


/* ==BANNER== */
.banner {}
.banner__wrap {
	background: steelblue;
}
.banner__title {
	text-align: center;
	line-height: 1.1;
	color: white;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

.banner__display {
	font-size: 200%;
}


/* ==MENU== */
.menu {
	height: 30px;
	text-align: center;
	color: black;
}
.menu__wrap {
	background: white;
	margin-bottom: 20px;
}
.menu__btn {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	--webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	outline: none;
	cursor: pointer;
}
.menu__btn:hover {
	color: white;
	background: steelblue;
}
.menu__btn--reset {}
.menu__btn--mode {}
.menu__btn--selected {
	color: white;
	background: steelblue;
}
.menu__msg {
	display: inline-block;
	width: 20%;
}
.menu__btn:hover ~ .menu__btn--mode.menu__btn--selected {
	background: white;
	color: steelblue;
}

/* ==MAIN== */
.main {}
.main__wrap {}


/* ==SQUARE== */
.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: border-color .125s, background 0.5s;
	--webkit-transition: border-color .125s, background 0.5s;
	-moz-transition: border-color .125s, background 0.5s;
	border: 5px solid transparent;
	cursor: pointer;
}

.square:hover {
	border-color: white;

}